	.at-icon{
		display: inline-block;
		font-size: 30px;

	}
	.at-icon i{
		display: block;
		font-size:40px;
		margin: 0 0 .2em 0;
	}
	.at-editable{
		background-color: white;
		display:block;
		word-wrap: break-word;
  		word-break: break-all;
		min-height:50px;
		width:100%;
		line-height:13px;
		/*border:solid gray 1px;*/
/*		-webkit-transform: translateZ(0);
		http://aerotwist.com/blog/on-translate3d-and-layer-creation-hacks/*/
	}

	.at-editable[placeholder]:empty:before {
    content: attr(placeholder);
    color: #CCC; 
	}
	.at-editable:hover{
		border:solid orange 2px;
	}
	.at-editable:focus{
		border:solid orange 1px;
		outline: none;
	}

	.at-block{
		position:relative;
	}
	.at-controls-right{
		position:absolute;
		bottom: 0px;
		right:0px;
		font-size: 20px;
		text-align: center;
		display:none;
		border:solid 1px orange;
	}
	.at-controls-right div{
		padding: 6px 6px;
		display: inline;
		cursor:pointer;
		/*display:none;*/
	}
	.at-controls-right div:hover{
		color:rgb(209,110,31);
	}
	.at-block:hover .at-controls-right, .at-block.hover .at-controls-right{
		display:inline;
	}
	.at-hash{
		color:blue;	
		font-weight:bold;
	}
	.at-url{
		color:green;	
		font-weight:bold;
	}
	.at-plus{
		font-size:14px;
		text-align: center;
		padding: 0px;
		background-color: rgb(255, 255, 255);
		margin: 0px;
		color: rgb(175, 175, 175);
	}
	.at-plus:hover{
		border:dashed gray 1px;
	}
	.at-block-chooser{
		text-align:center;
		background-color:rgb(235,235,235);
		padding: 5px;
	}
	.at-block-chooser a{
		padding:5px 7px;
		font-size:24px;
	}
	.at-block-chooser a:hover{
		color:rgb(255,122,0);
	}
	
	/*blocks*/
	.at-image-outer{
		border: solid gray 1px;
		text-align: center;
	}
	.at-image-inner{
		background-color:rgb(221,221,221);
		margin:10px;
		padding:15px 0;
	}
	
	.at-image-inner input{
		width: 80%;
		text-align: center;
		line-height: 26px;
		font-size: 16px;
	}

	.atPointer{
		cursor:pointer;
	}
	
	.atAutoComp{
		background-color:white;
		/*position:fixed;*/
		border:solid rgb(219, 219, 219) 1px;
		/*display:inline;*/
	}

	.atAutoComp img{
		max-height: 30px;
		float: left;
	}

	.atAutoComp li{
		list-style-type:none;
		border-bottom:solid gray 1px;
 		-moz-user-select: -moz-none;
   		-khtml-user-select: none;
   		-webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
	
	.atAutoComp li p.atAutoName{
		font-weight: bold;
		padding:0px;
		margin:2px 0px;
	}
	
	.atAutoComp li p.atAutoSubname{
		font-style: italic;
		font-size:12px;
		padding:0px;
		margin:0px;
	}	
	
	li.atAutoCompSelected{
		background-color:rgb(216,215,215);
	}

	.atAutoComp li:hover{
		background-color:rgb(216, 215, 215);
	}

	.at-geotag{
		color:orange;	
		font-weight:bold;		
	}
	
	.at-userTag{
		color:green;
		font-weight: bold;
	}

	.at-text-controls{
		list-style-type:none;
		cursor:pointer;
		display:none;
		background-color:black;
		color:white;
		position:fixed;	
		padding:4px 0;
 		-moz-user-select: -moz-none;
   		-khtml-user-select: none;
   		-webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
	.at-text-controls li{
		display:inline;
		border-right:solid white 1px;	
		padding:10px;
 		-moz-user-select: -moz-none;
   		-khtml-user-select: none;
   		-webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
	
	.at-text-controls li button{
		color:white;
		background-color:black;
		border:none;
	}

	.at-text-controls li:hover, .at-text-controls li button:hover{
		color:orange;
	}

	.at-img-card-inner{
		display: table;
	}
	
	.at-img-wrap{
		border: solid gray 1px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: table;
		padding: 0 0 25px 0;
	}

	.at-img-wrap img{
		max-width: 100%;
	}

	.at-img-caption{
		display:table-caption;
		caption-side:bottom;
		font-weight: bold;
	}

.oEmbed{
	margin-right:auto;
	margin-left:auto;
	width: 75%;
	max-width:	650px;
	padding: 0 0 25px 0;
	border: solid 1px rgb(226, 224, 224);
}

.oEmbed a{
	color:rgb(15, 15, 109);
	text-decoration: none;
}

.oEmbed-card-inner{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.oEmbed-card-caption{
	display:table-caption;
	caption-side:bottom;
}

.oEmbedSideBar{
	/*border-left: solid 8px rgb(11, 23, 111);*/
}