	.at-icon{
		display: inline-block;
		font-size: 30px;

	}
	.at-icon i{
		display: block;
		font-size:40px;
		margin: 0 0 .2em 0;
	}
	.at-editable{
		height:50px;
		width:100%;
		line-height:13px;
		/*border:solid gray 1px;*/
	}
	.at-editable:hover{
		border:solid orange 2px;
	}
	.at-editable:focus{
		border:solid orange 1px;
	}

	.at-block{
		position:relative;
	}
	.at-controls-right{
		position:absolute;
		bottom: 0px;
		right:0px;
		font-size: 20px;
		text-align: center;
		display:none;
		border:solid 1px orange;
	}
	.at-controls-right div{
		padding: 6px 6px;
		display: inline;
		/*display:none;*/
	}
	.at-controls-right div:hover{
		color:orange;
	}
	.at-block:hover .at-controls-right, .at-block.hover .at-controls-right{
		display:inline;
	}
	.at-hash{
		color:blue;	
		font-weight:bold;
	}
	.at-plus{
		font-size:17px;
		text-align: center;
		padding: 0px;background-color: rgb(255, 255, 255);margin: 10px 0px;
	}
	.at-plus:hover{
		border:dashed blue 1px;
	}
	.at-block-chooser{
		text-align:center;
		background-color:rgb(235,235,235);
		padding: 5px;
	}
	.at-block-chooser a{
		padding:5px 7px;
		font-size:24px;
	}
	.at-block-chooser a:hover{
		color:rgb(255,122,0);
	}
	
	/*blocks*/
	.at-image-outer{
		border: solid gray 1px;
		text-align: center;
	}
	.at-image-inner{
		background-color:rgb(221,221,221);
		margin:10px;
		padding:15px 0;
	}
	
	.at-image-inner input{
		width: 80%;
		text-align: center;
		line-height: 26px;
		font-size: 16px;
	}
	
	.atPointer{
		cursor:pointer;
	}
	
	.atAutoComp{
		background-color:white;
		position:fixed;
		border:solid gray 1px;
		display:inline;
	}

	.atAutoComp li{
		list-style-type:none;
		border-bottom:solid gray 1px;
 		-moz-user-select: -moz-none;
   		-khtml-user-select: none;
   		-webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
	
	.atAutoComp li p.atAutoName{
		font-weight: bold;
		padding:0px;
		margin:2px 0px;
	}
	
	.atAutoComp li p.atAutoSubname{
		font-style: italic;
		font-size:12px;
		padding:0px;
		margin:0px;
	}	
	
	.atAutoComp li:hover{
		background-color:rgb(216, 215, 215);
	}

	.at-geotag{
		color:orange;	
		font-weight:bold;		
	}
	
	.at-text-controls{
		list-style-type:none;
		cursor:pointer;
		display:none;
		background-color:black;
		color:white;
		position:fixed;	
		padding:4px 0;
 		-moz-user-select: -moz-none;
   		-khtml-user-select: none;
   		-webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
	.at-text-controls li{
		display:inline;
		border-right:solid white 1px;	
		padding:10px;
 		-moz-user-select: -moz-none;
   		-khtml-user-select: none;
   		-webkit-user-select: none;
	   /*
	     Introduced in IE 10.
	     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	   */
	   -ms-user-select: none;
	   user-select: none;
	}
	
	.at-text-controls li button{
		color:white;
		background-color:black;
		border:none;
	}

	.at-text-controls li:hover, .at-text-controls li button:hover{
		color:orange;
	}
